.main-footer {
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 160px;
    padding-top: 55px;
  }
  @media only screen and (max-width: 992px) {
    .main-footer {
      display: block;
    }
  }
  @media only screen and (max-width: 992px) {
    .main-footer-item {
      align-items: center !important;
    }
  }
  .main-footer-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
    align-items: center;
  }
  .title-footer {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 31.5219px;
    line-height: 40px;
    color: #f3b95f;
  }
  .desc-footer {
    font-weight: 500;
    font-size: 12.0083px;
    line-height: 15px;
    color: #ffffff;
    margin-top: 9px;
    margin-bottom: 27px;
  }
 .Iconfooter{
    font-size: 50px;
    color: #ffffff;
    margin-right: 10%;
 }
  .policy-title {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15.0104px;
    line-height: 19px;
    color: #ffffff;
  }
  .main-footer-item span {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12.0083px;
    line-height: 15px;
    color: #ffffff;
  }
  .extra-footer-item {
    font-family: 'Nunito Sans', sans-serif;;
    font-style: normal;
    margin-top: 39px;
    font-size: 10.5073px;
    line-height: 13px;
    color: #f9e7de;
    margin-bottom: 90px;
  }